*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: #24282B;
    border-bottom: solid #0d88c6 5px;
}

.blanco{
    color: white;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.azul{
    margin: 0 0 0 13px;
    color: #0d88c6;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    display: flex;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link-primero{
    margin: 0 30px 0 0;
    text-decoration: none;
    color: #0d88c6
}

.link-2{
    margin: 0 30px 0 0;
    text-decoration: none;
    color: #0d88c6
}

.link-3{
    margin: 0 30px 0 0;
    text-decoration: none;
    color: #0d88c6
}

.link{
    margin: 0 30px 0 0;
    text-decoration: none;
    color: white;
}

.ultimo-link{
    text-decoration: none;
    color: white;
}

.ultimo-link-4{
    text-decoration: none;
    color: #0d88c6
}

header{
    background: url(../images/cabecera.jpg) no-repeat fixed;
    background-size: cover;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 60px;
    margin: 0 0 30px 0;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.vamoo p{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.suscripcion{
    background-color: #24282B;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.suscripcion p{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.suscripcion input{
    height: 30px;
    width: 245px;
    padding: 0 0 0 5px;
}

.suscripcion button{
    height: 37px;
    width: 100px;
    background-color: #E8491D;
    color: white;
    border: none;
}

.padre{
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px 0;
}

.content{
    width: 400px;
    margin: 0 0 0 100px;
    text-align: center;
}

.content-2{
    width: 400px;
    margin: 0 0 0 0;
    text-align: center;
}

.content-3{
    width: 400px;
    margin: 0 100px 0 0;
    text-align: center;
}

.content h2{
    margin: 15px 0 15px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-2 h2{
    margin: 15px 0 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content-3 h2{
    margin: 15px 0 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

footer{
    height: 90px;
    background-color: #0d88c6;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.caja{
    display: flex;
    justify-content: space-around;
}

.cajap{
    display: flex;
    justify-content: space-around;
}


.caja2{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    margin-bottom: 30px;
}

.nosotros{
    width: 40%;
    margin: 0 0 0 0;
}

.texto-blanco{
    font-size: 17px;
    margin: 25px 0 15px 0;
    
}

.texto-blanco h2{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-gris{
    font-size: 17px;
    margin: 0 0 25px 0; 
    color: white;
    background-color: #2e3b44; 
    padding: 15px;
}

.imagen-1{
    width: 100%;
    margin-bottom: 25px;
}

.seccion{
    background-color: #2e3b44;
    margin: 25px 0 0 0;
    width: 35%;
    height: 250px;
    padding: 35px 5px 30px 20px;
    color: white;
}

.seccion h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.seccion p{
    font-size: 17px;
}

.seccion2{
    background-color: #2e3b44;
    width: 30%;
    margin: 25px 0 0 0;
    height: 250px;
    padding: 35px 5px 30px 20px;
    color: white;
}

.seccion2 h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.lado2 p{
    font-size: 17px;
}

.servicios{
    width: 50%;
}

.texto-servicios{
    font-size: 17px;
    margin: 0 0 5px 0; 
    background-color: #d6d6d6;
    border: #bbbbbb solid 1px; 
    padding: 35px 25px 30px 20px;
}

.texto-servicios p{
    margin-bottom: 25px;
}

.texto-servicios h2{
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif
}

.servi{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contacto{
    width: 900px;
    margin: 0 0 0 150px;
}

.lado3{
    background-color: #2e3b44;
    margin: 25px 120px 0 80px;
    height: 250px;
    padding: 35px 5px 30px 20px;
    color: white;
    
}

.lado3 h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.lado3 p{
    font-size: 17px;
}
.cuadrop{
    width: 25%;
    margin:10px 0 0 0;
    color: aliceblue;
    padding: 20px;
  
}

.caja4{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.formu{
    width: 50%;
}

.formu h3{
    margin-bottom: 5px;
    margin-top: 5%;
}
.formu p{
    margin-top: 10px;
}

.cuadro{
    width: 100%;
    height: 7%;
    margin: 0 0 5px 0;
}

.cuadro-grande{
    width: 100%;
    height: 20%;
    margin: 0 0 5px 0;
}

.texto-lado{
    width: 90%;
    background-color: #2e3b44;
    height: max-content;
    padding: 5%;
    margin-bottom: 10%;
}

.formu button{
width: 100%;
height: 10%;
color: white;
background-color: #E8491D;
border: none;
font-size: 15px;
}

.imagencita{
    width: 100%;
   
}

  

@media (max-width:1000px) {
    .vamoo{
        width: 650px;
        margin: 10% 0 10% 0;
    }
    header{
        height: max-content;
    }
}

@media (max-width:750px) {
    nav{
        display:flex;
        flex-wrap: wrap;
    }
    .padre{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .content{
        margin: 0 0 15% 0;
    }
    .content-2{
        margin: 0 0 15% 0;
    }
    .content-3{
        margin: 0 0 15% 0;
    }
    .suscripcion{
        flex-wrap: wrap;
        padding: 5%;
    }
    .caja{
        display: flex;
        flex-wrap: wrap;
    }
    .servicios{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texto-blanco{
        width: 100%;
    }
    .caja{
        display: flex;
        flex-wrap: wrap;
    }
    .cajap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nosotros{
        width: 80%;
    }
    .lado{
        width: 74%;
        padding: 3%;
        margin-bottom: 5%;
    }
    .caja2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texto-servicios{
        width: 80%;
    }
    .caja2{
        width: 80%;
        margin: 0;
        padding: 4%;
    }
    .caja4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formu{
        width: 80%;

    }
    .cuadrito{
        width: 80%;
        padding: 0;
    }
    .formu button{
        height: 50px;
    }
}